@use "./button";
@use "./nav";
@use "./card";
@use "./modal";
* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  background-image: url("../assets/bg.png");
  max-width: 1284px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #000000;
  height: 100vh;
  width: 100vw;

  @media (max-width: 580px) {
    background-image: none;
  }
  ::-webkit-scrollbar {
    width: 19px;
    height: 19px;
  }
  ::-webkit-scrollbar-button {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background: #d6d6d6;
    border: 0px none #bfbfbf;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #b8b8b8;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #8c8c8c;
  }
  ::-webkit-scrollbar-track {
    background: #303030;
    border: 0px none #969696;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #2e2e2e;
  }
  ::-webkit-scrollbar-track:active {
    background: #333333;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}
// HP Containers and mains
.Main {
  max-width: 1284px;
  max-height: 722px;
  display: flex;
  flex-direction: column;
}

.Menu {
  position: relative;
  left: 926px;

  @media (max-width: 1284px) {
    left: 0;
    right: 0;
    margin-right: 20px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }

  @media (max-width: 480px) {
    left: 0;
    right: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }
}

.Nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Logo {
  margin-top: 142px;
  width: 193.8px;
  height: 66px;

  @media (max-width: 1284px) {
    margin-top: 142px;
  }

  @media (max-width: 720px) {
    width: 110px;
    height: 40px;
  }
  @media (max-width: 500px) {
    margin-top: 6%;
  }
}
.SelectFilter {
  margin-top: 40px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;

  @media (max-width: 1284px) {
    margin-top: 36px;
  }

  @media (max-width: 720px) {
    font-size: 18px;
  }
}

.Buttons {
  margin-top: 64px;
  display: flex;
  justify-content: center;

  @media (max-width: 1284px) {
    margin-top: 5%;
  }
}
