@use './button';
@use './nav';
@use './card';
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  overflow-x: hidden;
  background-image: url("../assets/bg.png");
  max-width: 1284px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
  resize: both;
  background-color: #000000;
  height: 100vh;
  width: 100vw;
}
// HP Containers and mains
.Main {
  max-width: 1284px;
  max-height: 722px;
  display: flex;
  flex-direction: column;
}

.Menu {
  position: relative;
  left: 926px;

  @media (max-width: 1284px) {
    left: auto;
    right: 6%;
  }

  @media (max-width: 480px) {
    left: 0;
    right: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }
}

.Nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Logo {
  margin-top: 142px;
  width: 193.8px;
  height: 66px;

  @media (max-width: 1284px) {
    margin-top: 142px;
  }

  @media (max-width: 720px) {
    width: 110px;
    height: 40px;
  }
  @media (max-width: 500px) {
    margin-top: 6%;
  }
}
.SelectFilter {
  margin-top: 40px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;

  @media (max-width: 1284px) {
    margin-top: 36px;
  }

  @media (max-width: 720px) {
    font-size: 18px;
  }
}

.Buttons {
  margin-top: 64px;
  display: flex;
  justify-content: center;

  @media (max-width: 1284px) {
    margin-top: 5%;
  }
}