* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  overflow-x: hidden;
  background-image: url("../assets/bg.png");
  max-width: 1284px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
  resize: both;
  background-color: #000000;
  height: 100vh;
  width: 100vw;
}
// HP main
.Main {
  max-width: 1284px;
  max-height: 722px;
  display: flex;
  flex-direction: column;
}

.Menu {
  position: relative;
  left: 926px;

  @media (max-width: 1284px) {
    left: auto;
    right: 6%;
  }

  @media (max-width: 480px) {
    left: 0;
    right: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }
}

.Nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Logo {
  margin-top: 142px;
  width: 193.8px;
  height: 66px;

  @media (max-width: 1284px) {
    margin-top: 142px;
  }

  @media (max-width: 720px) {
    width: 110px;
    height: 40px;
  }
  @media (max-width: 500px) {
    margin-top: 6%;
  }
}
.SelectFilter {
  margin-top: 40px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;

  @media (max-width: 1284px) {
    margin-top: 36px;
  }

  @media (max-width: 720px) {
    font-size: 18px;
  }
}

.Buttons {
  margin-top: 64px;
  display: flex;
  justify-content: center;

  @media (max-width: 1284px) {
    margin-top: 5%;
  }
}
// buttons
.button {
  margin: 0px 5.5% 0px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  width: 288px;
  height: 67px;
  border: 4px solid #6b63b5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: rgba(107, 99, 181, 0.6);
  }

  @media (max-width: 480px) {
    width: 140px;
    height: 42.93px;
    margin: 0px 2% 0px;
    box-sizing: border-box;
    border-radius: 2.56277px;
  }
}

.button p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #ffffff;
  border-radius: 4px;

  @media (max-width: 480px) {
    font-size: 13px;
    line-height: 16px;
  }
}

.buttonActive {
  background: #6b63b5;
}
// Cards

.cardContainer {
  margin-top: 94px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: 1284px) {
    margin-top: 7%;
  }

  @media (max-width: 1100px) {
    flex-direction: column;
  }

  @media (max-width: 480px) {
    flex-direction: row;
  }
}

.card {
  width: 515px;
  height: 265px;
  background-color: #fdfeff;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  overflow: hidden;
  margin: 0px 21px 41px;

  @media (max-width: 480px) {
    width: 140px;
    height: 181px;
    border-radius: 5px;
    flex-direction: column;
    margin: 10px 3% 0px 0px;
  }
}

.profilePicture {
  min-width: 210px;
  min-height: 265px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 480px) {
    min-width: 140px;
    min-height: 87px;
  }
}

.profilePicture img {
  width: 169.3px;
  height: 169.3px;
  object-fit: cover;
  object-position: 50% 30%;
  border-radius: 50%;

  @media (max-width: 480px) {
    width: 71px;
    height: 71px;
  }
}

.profileInfo {
  margin-left: 28px;
  width: 305px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Open Sans;
  font-style: normal;
  font-size: 14px;
  line-height: 27px;
  color: #374a59;

  @media (max-width: 480px) {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
  }
}

.profileInfoStatus {
  padding-top: 20px;
  font-weight: 600;
  line-height: 19px;
  color: #999999;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 480px) {
    display: none;
  }
}

.profileInfoStatus div {
  margin-right: 22px;
}

.profileBookmark {
  width: 20px;
  height: 22px;
  cursor: pointer;
}

.profileBookmarkSM {
  cursor: pointer;
}

.profileInfoStatusMD {
  @media (max-width: 480px) {
    display: none;
  }
}

.profileInfoStatusSM {
  display: none;

  @media (max-width: 480px) {
    margin: 5px 0px 0px 9px;
    font-size: 11px;
    line-height: 15px;
    text-align: left;
    color: #999999;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.profileInfoStatusSM div {
  margin-top: 5px;
  margin-right: 12px;
}

.profileInfoName {
  padding: 22px 0 22px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 30px;
  line-height: 46px;
  color: #081f32;

  @media (max-width: 480px) {
    padding: 0;
    font-size: 18px;
    line-height: 46px;
  }
}

// Navbar

.navContainer {
  width: 281px;
  max-height: 312px;
  overflow: hidden;
  background: #6b63b5;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 10px 10px;

  @media (max-width: 480px) {
    flex-direction: column-reverse;
    border-radius: 10px 10px 0px 0px;
    position: fixed;
    margin-right: 9px;
    bottom: 0;
    left: 1;
    right: 1;
  }
}

.navOptions {
  width: 100%;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6b63b5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 10px 10px;

  @media (max-width: 480px) {
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
  }
}

.navOptions #line {
  margin-left: 20px;
  margin-right: 20px;
  min-height: 36px;
  border-right: 1px #403b6d solid;
}

.navOptions p {
  margin-right: 4px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}

.navOptionsFav {
  cursor: pointer;
}

.navOptionsAdd {
  cursor: pointer;
}

.navFavorites {
  display: none;
}

.navFavoritesActive {
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  padding-left: 15px;
}

.navFavoritesList {
  width: 241px;
  height: 46px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px #403b6d solid;

  @media (max-width: 480px) {
    margin-bottom: 0px;
    margin-top: 7px;
  }
}

.navFavoritesList img {
  margin-right: 0px;
  margin-bottom: 6px;
  width: 32px;
  height: 32px;
  object-fit: cover;
  object-position: 50% 30%;
  border-radius: 50%;
}

.navFavoritesList p {
  min-width: 169px;
  margin-bottom: 6px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  color: #ffffff;
  margin-left: 10px;
}
.navFavoritesList img {
  cursor: pointer;
  margin-bottom: 2px;
}
.navEmpty {
  margin-bottom: 6px;
  margin-right: 25px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}
